<div data-ng-show="msg.text.length>0" class="{{msg.css}}" role="alert">{{ msg.text }}</div>

<!-- header -->
<div class="portfolio-modal" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="close-modal" ng-click="cancel()">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="modal-header">
            <h4 class="modal-title">Cat {{ tagline }}</h4>
        </div>

        <div class="modal-body">


            <!-- body -->
            <div class="container-fluid">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <!--<th>Date</th>
                        <th>Body</th>
                        <th>Comments</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="data in dataList | orderBy: 'date': true"
                        data-ng-class="{'danger':data.protected==true, 'success':data.protected!=true}">
                        <td>
                            <button type="button" class="btn btn-default" data-ng-disabled="data.protected==true"
                                    data-ng-click="remove(data._id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
                            </button>
                        </td>
                        <td>
                            {{ data.name }}
                        </td>
                        <!--<td>
                            {{ data.date }}
                        </td>
                        <td>
                            {{ data.body }}
                        </td>
                        <td>
                            {{ data.comments.body }}
                        </td>-->
                    </tr>
                    </tbody>
                </table>

            </div>


            <!-- footer -->

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-ng-click="cancel()"><i class="fa fa-times"></i>Close</button>
            <button type="button" class="btn btn-primary" data-ng-click="ok()">Save changes</button>
        </div>
    </div>
</div>