<div class="jumbotron">
	<h1>Fastfood Menu</h1>
	<p>If you are like the majority of us and order nearly the same fast food order every time, 
	then you may, also like us, absolutely hate having to repeat the same order. <strong> Every. Single. Time.</strong></p>
	<!--<p>Believe us though when we tell you that you can <strong>not</strong> hate it anywhere <i>near</i> as much as we do.</p> -->
	<p>In fact, we hated it so much that we built an application just so that we don't have to live like that anymore. Simple as all get-out, but it changed our lives.</p>
	<p><a href="/view/login" class="btn btn-success btn-lg btn-block">Change Your Life Too</a></p>
</div>
